---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #264DE3;
    background-image: linear-gradient(120deg, #264DE3, #2965F1);
}

.highlight .err {
    color: inherit;
    background-color: inherit;
}

.site-footer {
    text-align: center;
}
